@model NewMovieDenemesi.Models.Blog

@{
    ViewBag.Title = "BlogEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}           

<h2>Blog Edit Page</h2>
<br />
@using (Html.BeginForm("BlogEdit", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.Id)
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @disabled = false })

    <br />
    <div class="form-group">
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
            <input class="check-box" data-val="true" id="Status" name="Status" type="checkbox" value="true" checked="@Model.Status">
        </div>
    </div>
    <br />
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Contents)
    @Html.TextAreaFor(x => x.Contents, 15, 1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Image)
        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })

   
    <br />

    <button class="btn btn-primary" style="background-color:darkslategrey">Add Blog</button>
    
}
